body {
		background-color: #001a33;
    	border: 40px solid #00cc99;
    	border-top-width: 0px;
    	margin: 0px;
    	text-align: center;
		color: white;
		font-family: 'Ubuntu', sans-serif;
	}

p {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	}

form {
	font-size: 1.5em;
	margin-bottom: 10px;
}
#signup {
	background-color: #ff9900;
	border-radius: 16px;
	font-size: 25px;
	padding: 20px;
	height: 80px;
	width: 150px;
	margin: 4px;
	}